@model CAwebapp.Models.UserUpdate

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="bg-white rounded shadow-sm py-5 px-4">
        <img src="~/content/user.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 id="user-email" class="text-muted">@ViewBag.User.FirstName @ViewBag.User.LastName</h5>
        <h6 id="user-email" class="text-muted">@ViewBag.User.Email</h6>
        @using (Html.BeginForm("CreateAndDownloadCert", "Home", FormMethod.Post))
        {
            <button type="submit" class="btn btn-primary ">Create New Certificate</button>
        }
    </div>
</div>
<!-- view active certificates -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Active Certificates</h4>
    </div>
    <div class="panel-body">
        <!-- todo add results frrom crl request here -->
        <ul class="list-group">
             @foreach(var cert in ViewBag.ActiveCerts)
            {            
                <li class="list-group-item list-group-item-success">   
                @cert.CertId
                @using (Html.BeginForm("RevokeCert", "Home", new { cid = cert.CertId }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-danger btn-sm-custom ">Revoke</button>
                }
                </li>
            }

            <!--<li class="list-group-item list-group-item-success">Certificate A <button type="submit" class="btn btn-danger btn-sm-custom ">Revoke</button></li>
            <li class="list-group-item list-group-item-success">Certificate B <button type="submit" class="btn btn-danger btn-sm-custom ">Revoke</button></li>
            <li class="list-group-item list-group-item-success">Certificate C <button type="submit" class="btn btn-danger btn-sm-custom ">Revoke</button></li>
            -->
        </ul>
    </div>
</div>
<!-- view crl-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Certificate Revocation List</h4>
    </div>
    <div class="panel-body">
        <!-- todo add results frrom crl request here -->
        <ul class="list-group">
            @foreach(var cert in ViewBag.RevokedCerts)
            {   
                <li class="list-group-item list-group-item-danger">@cert.CertId</li>
            }
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Update User Information</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Profile", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, "", new { @class = "form-control", @placeholder = "First name" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, "", new { @class = "form-control", @placeholder = "Last name" })
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary" value="Update User"/>
            </div>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Update User Password</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Profile", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Current Password" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary" value="Update Password"/>
            </div>
        }
    </div>
</div>
